.search-bar-wrapper {
    position: relative;
    margin: 10px;
}

.search-bar {
    width: 50vw;
    height: 50px;
    border-radius: 50px;
    padding: 10px 20px;
    outline: none;
    font-size: 20px;
    background-color: transparent;
    color: #DEEFB7;
    border: 2px solid #DEEFB7;
}

.search-bar.minimize {
    height: 40px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #98dfaf;
    opacity: 1;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #98dfaf;
}

.search-icon {
    position: absolute;
    top: 15px;
    right: 20px;
}

.search-icon.minimize {
    top: 11px;
}

/* extra extra large */
@media only screen and (min-width: 1400px ) {
    
}
/* extra large */
@media only screen and (min-width: 1200px ) {
    
}

/* large */
@media only screen and (max-width: 992px ) {
    .search-bar {
        width: 70vw;
    }
}

@media only screen and (max-width: 768px ) {
    .search-bar {
        width: calc(100vw - 64px); /* border + paddings = 64px*/
    }
}